In [20]:
import pandas as pd
import numpy as np
import allocate

import importlib
importlib.reload(allocate);

In [21]:
SAM_CAP = 20

df = pd.DataFrame([
    ('a', 'x1', 1),
    ('a', 'x2', 3),
    ('a', 'x3', 6),
    ('a', 'x4', 7),
    ('a', 'x5', 8)
], columns=['group', 'acct', 'amt'])

df.sort_values(by=['group', 'amt'], 
               ascending=[True, False],
               inplace=True)

df

  group acct  amt
4     a   x5    8
3     a   x4    7
2     a   x3    6
1     a   x2    3
0     a   x1    1

In [25]:
def iterOne(df):
    df['running'] = df.pipe(allocate.calcRun, 'amt')

    new, inds = allocate.getAssignments(df, 20)

    # save 'new'
    nowWorkWith = df.pipe(allocate.dropDone, inds)
    
    return new, nowWorkWith

In [27]:
_, x = iterOne(df)

In [29]:
_, z = iterOne(x)

In [31]:
z.shape

(0, 3)

In [ ]:
# While shape[0] != 0:

# Call function stacking allocations

In [22]:
df['running'] = df.pipe(allocate.calcRun, 'amt')

new, inds = allocate.getAssignments(df, 20)

# save 'new'
nowWorkWith = df.pipe(allocate.dropDone, inds)

In [23]:
new

  group acct  amt
4     a   x5    8
3     a   x4    7

In [24]:
nowWorkWith

  group acct  amt
2     a   x3    6
1     a   x2    3
0     a   x1    1