In [3]:
import pandas as pd
import numpy as np

In [28]:
def isOver(a, b):
    if a > b:
        return 'yes'
    elif a < b:
        return 'no'

In [157]:
SAM_CAP = 20

df = pd.DataFrame([
    ('a', 'x1', 1),
    ('a', 'x2', 3),
    ('a', 'x3', 6),
    ('a', 'x4', 7),
    ('a', 'x5', 8)
], columns=['col1', 'acct', 'col2'])

df.sort_values(by=['col1', 'col2'], 
               ascending=[True, False],
               inplace=True)

In [158]:
df['running'] = df.groupby(['col1'], as_index=False)['col2'].cumsum()

In [159]:
def test(my_df):
    for index, row in my_df.iterrows():
        if row['running'] < SAM_CAP:
            yield row[['col1', 'acct', 'col2']]

In [160]:
def test2(my_df):
    return my_df.query('running < 20')[['col1', 'acct', 'col2']]

In [161]:
t1 = test2(df)  # Save this
indices = test2(df).index

In [163]:
t1

  col1 acct  col2
4    a   x5     8
3    a   x4     7

In [162]:
df.drop(indices, inplace=True)  # Recompute running total and start over
df

  col1 acct  col2  running
2    a   x3     6       21
1    a   x2     3       24
0    a   x1     1       25

In [124]:
# Read in master dataframe

# [A] Compute running sum

# Keep account owner over threshold as owner [i] in separate table

# Remove those records from frame

# Go back to [A]